@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

input,
textarea {
    outline: transparent;
}

textarea {
    width: 100%;
    padding: 0.25rem;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

svg {
    color: var(--color-dark-grey);
}

body {
    color: var(--text-color-primary);
    font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Log-In Pg Style */

.pg-login {
    padding: 1rem;
}

.login-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.head-about {
    color: gray;
}

.login-main {
    margin-top: 20px;
}

.label {
    position: relative;
}

.forgot-btn {
    color: #0084ff;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    cursor: pointer;
}

.label-name {
    padding: 5px 1px;
}

.input {
    padding: 12px 15px;
    border: none;
    width: 100%;
    border-radius: .2rem;
    box-shadow: 0px 0px 2px #4a4a4a;
    font-size: .9rem;
}

.login-foot {
    display: grid;
    margin: 50px 10px;
    gap: 10px;
}

.login-foot__btn1 {
    background-color: #0884f7;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: .5rem;
}

.login-foot__btn2 {
    background-color: transparent;
    padding: 13px;
    color: #0884f7;
    border: 1px solid #5aafff;
    border-radius: .5rem;

}

.login-foot a {
    color: inherit;
}

/* Register-Pg Styling */

.pg-signup {
    padding: 1rem;
}

.sign-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sign-main {
    margin-top: 10px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 10px;
}


.sign-foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.sign-btn {
    margin-top: 10px;
    background-color: #0884f7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: .5rem;
}

.sign-sign-foot-about {
    color: #626262;
}

.sign-foot-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin-inline: 5px;
}

.sign-foot-btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: .3rem;
    box-shadow: 0 0 2px #4a4a4a;
}

.sign-foot-bottom {
    margin-top: 25px;
}

.sign-foot-bottom a {
    text-decoration: underline;
    color: #0884f7;
}

/* product pg styles */
.pg-product {
    padding: 1rem;
}

.product-img-sec {
    height: 300px;
}

.product-img-sec img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-quantity__box {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    padding-inline: 10px;
    box-shadow: 0px -1px 3px -2px rgba(0, 0, 0, 0.39) inset;
}

.preview-img {
    height: 70px;
}

.preview-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.product-main {
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-cart-btn {
    padding: 10px 25px;
    width: fit-content;
    border: none;
    background-color: #434343;
    color: #fff;
    border-radius: .5rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* landing page */

.pg-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: 1rem;
}

.back-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 1.25rem;
    border: 2px solid #c0c0c0;
    cursor: pointer;
}

.search-input {
    border: none;
    background-color: transparent;
    padding: 0 10px;
    width: 100%;
}

.search-icon {
    color: #8a8a8a;
    padding-inline-end: 5px;
}

.carousel {
    background-color: #626262;
    height: 190px;
    margin: 1rem;

}

.carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category-sec {
    padding: 1rem;

}

.category-row {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.category-card {
    border-radius: .5rem;
    box-shadow: 0px 0px 2px #c0c0c0;
    border: 1px solid #838383;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.category-about {
    padding: 0 5px;

}

.products {
    background-color: #ffffff;
    padding: 1rem;

}

.product-box {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    padding: 10px;
    box-shadow: 0 0 4px #9d9d9d;
}

.product-img {
    height: 150px;
}

.product-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card-discription {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

/* cart pg styles */
.pg-cart {
    padding: 1rem;
}

.pg-cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px 30px;
}

.cart-order__list {
    height: 44vh;
    position: relative;
    overflow-y: scroll;
}

.cart-order__list::-webkit-scrollbar {
    display: none;
}

.cart-item__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
    padding: 10px;
    border-radius: .3rem;
    border: 1px solid #9d9d9d;
    box-shadow: 0 0 4px #9d9d9d;

}

.cart-item__left {
    display: flex;
    gap: 15px;
}

.cart-item__img {
    width: 70px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-item__about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item__bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #696969;
}

.cart-item__quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-quantity__left,
.cart-quantity__right {
    background-color: #d8d8d8;
    padding: 5px;
}

.cart-item__right {
    color: #cd0000;
}

.cart-order__container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 10px;
    border-radius: .3rem;
    border: 1px solid #9d9d9d;
    box-shadow: 0 0 4px #9d9d9d;
    position: fixed;
    width: 93%;
}

.cart-order__container>div:nth-child(1),
.cart-order__container>div:nth-child(2)>:nth-child(2),
.payment-method__container>div:nth-child(1) {
    color: #424242;
}

.payment-method__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-method__box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 4px #9d9d9d;
    border-radius: .3rem;
}

.payment-method__icon {
    height: 3rem;
    width: 5rem;
}

.payment-method__icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pg-cart__btn {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: .3rem;
    color: #fff;
    background-color: #424242;
}

/* Responsive Styles */
@media (min-width: 550px) {
    .product-box {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

}
@media (min-width: 768px) {
    .pg-header {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .menu {
        display: none;
    }

    .search {
        grid-row-start: 1;
        grid-column-end: 4;
        padding: 8px 10px;
        width: 500px;
    }

    .product-box {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }
}